@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");


*{
    padding: 0;
    margin: 0;
    background-color: #1f252f;
    font-family: "Rubik", sans-serif;

}

.contact{
    color: white;
    margin-top: 4%;
    text-align: center;
}

.contact h1{
  font-size: 2vw;
  padding-bottom: 2vh;
  font-weight: 650;
  
}

.contact p{
    font-size: 1vw;
}

.card1{
    margin-top: 9%;
    margin-left: 9%;
    
}
 .addr h3, .phone h3, .mail h3{
    font-size: 1.5vw;
  color: aqua;
  font-weight: 600;
}

.addr .phone .mail, p{
    color: white;
    font-size: 1vw;
    margin-bottom: 5vh;
}

.flex{
    display: flex;
    justify-content: space-between;
}

.card2{
    margin-top: 8%;
    margin-right: 15%;
    border: 0.1vw solid white;
    width: 28vw;
    height: 40vh;
    align-content: center;
    background-color: white;
    padding: 1vw;
    position: relative;
}

 form{
    background-color: white;
 }

.text{
 background-color: white;
 border: none;
 outline: none;
 padding-right: 8.5vw;
 padding-top: 0.9vw;
 padding-bottom: 0.9vw;
 margin-bottom: 1.2vw;
 border-bottom: 0.1vw solid gray;
}


.feed{
    background-color: white;
    border: none;
    padding-right: 8.5vw;
    padding-top: 1vw;
    padding-bottom: 4vh;
    margin-bottom: 1.2vw;
    border-bottom: 0.1vw solid gray;
   }



.card2 h4{
    color: gray;
    padding-bottom: 1vh;
    font-size: 1.7vw;
    background-color: white;
}

.btn button{
    background-color: #05f2f2;
    padding: 0.4vh 1.4vw;
    color: #1f252f;
    cursor: pointer;
    border: none;
    font-weight: 600;
    border-radius: 3px;
    justify-content: center;
}

 .btn{
    background-color: white;
 }
 .scard2{
    background-color: white;
    margin-left: 2.7vw;
    
 }

 /* .btn 1 */
.btn1{
     margin-top: 5vh;
     margin-left: 5vw;
     border-radius: 3px;
  }
  
  button{
    padding: 0.4vh 1.4vw;
    border-style: none;
    background-color: #00abf0;
    font-weight: 700;
    border-radius: 3px;

  }
  .btn1 a{
    text-decoration: none;
    color: aqua;
  }
  
 button:hover{
    background-color: aqua;
    transform: rotate(20deg);
    transition: ease 1s;
  }
  
  @media (max-width: 768px) {
    
    .flex {
      flex-direction: column; 
      align-items: center; 
    }
  
    .card1, .card2 {
      margin: 0;  
      width: 90%;  
      max-width: 500px; 
    }
  
    .contact h1 {
      font-size: 5vw; 
    }
  
    .contact p {
      font-size: 3vw;  
    }
  
    .addr h3, .phone h3, .mail h3{
        font-size: 3vw;
       
    }
    .addr .phone .mail, p{
         
        font-size: 2vw;
         
    }


    .card2 h4 {
      font-size: 4vw;  
    }
  
    .text, .feed {
      font-size: 3vw;  
    }
  
    .btn button {
      
      font-size: 4vw;  
    }
  
    .btn1 {
      position: static;  
      margin-top: 20px;  
    }
  }
  