.cursor-main {
  --size: 0px;
  position: fixed;
  top: calc(var(--size) / -2);
  left: calc(var(--size) / -2);
  width: var(--size);
  height: var(--size);
  border-radius: 50px;
  pointer-events: none;
  z-index: 9990;
  background-color: #e6c3ff;
  box-shadow: 0px 0px 30px 0px rgb(175, 131, 255);
  mix-blend-mode: difference;
  transition: top 0.3s ease-out, left 0.3s ease-out, width 0.3s ease-out,
    height 0.3s ease-out;
}
.cursor-icons {
  top: 0px !important;
  left: 0px !important;
  width: var(--cursorW, 50px) !important;
  height: var(--cursorH, 50px) !important;
  border-radius: 40px !important;
  transition: all 0.3s ease-out, height 0.3s ease-in-out, width 0.3s ease-in-out !important;
}
.cursor-disable {
  --size: 0px !important;
}
@media only screen and (min-width: 600px) {
  .cursor-main {
    --size: 50px;
  }
  .cursor-disable {
    --size: 0px;
  }
}
