.header {
  display: flex;
  max-width: var(--cMaxWidth);
  width: var(--cWidth);
  justify-content: space-between;
  align-items: center;
  padding: 15px 0px;
  margin-bottom: -80px;
  box-sizing: border-box;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  z-index: 9999;
}
.navbar-connect {
  display: block;
  font-size: 13px;
  letter-spacing: 0.8px;
  font-weight: 500;
  color: #eae5ec;
  text-decoration: none;
  transition: opacity 0.3s;
}
.navbar-connect:hover {
  opacity: 0.8;
}
.navbar-title {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.2px;
  color: #fff;
  text-decoration: none;
}
@media only screen and (min-width: 500px) {
  .header {
    padding: 20px 0px;
  }
  .navbar-connect {
    font-size: 14px;
  }
  .navbar-title {
    font-size: 16px;
  }
}
@media only screen and (min-width: 1200px) {
  .header {
    padding: 35px 0px;
  }
  .navbar-connect {
    font-size: 16px;
  }
  .navbar-title {
    font-size: 18px;
  }
}
